/*

 import NAV

*/

nav {
  width: 100%;
  background: #ffffff;
  position: fixed;
  padding-top: 2px;
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);

  .site-logo-container {
  				float: left;
  				color: $accentColor2;
		       }
  
  .site-logo-container i {
  				color: $accentColor;
			 }
	ul {
  		float: right;
           }

	li {
  		display: inline-block;
  		margin-right: 32px;
  		text-transform: uppercase;
  		font-weight: 500;
  		font-size: 11px;
	   }
	
	a {
  		color: $accentColor2;
  		text-decoration: none;
	  }
		a:hover {
  				color: $accentColor;
			}
}


.mobile-nav-container {
  text-align: center;
  line-height: 50px;
}

.mobile-logo-container {
  color: $accentColor;
  font-weight: 200;
  font-size: 2.5em;
  padding: 1%;

	i {
  	    color: $accentColor;
	  }
}

.hamburger-container {
  position: absolute;
  top: 5px;
  left: 20px;
  padding: 1%;
  font-weight: 200;
  font-size: 2.0em;
  color: $accentColor;
}

/*

visibility classes

*/

.desktop-nav-visibility {
  display: block;
}

.mobile-nav-visibility {
  display: none;
}

@media (max-width: 960px) {
  nav a {
    padding: 0px 20px;
  }
}

@media (max-width: 860px) {

  .desktop-nav-visibility {
    display: none;
  }

  .mobile-nav-visibility {
    display: block;
  }
}