/*

 import VARIABLES


*/

$primaryColor: #ffffff;
$primaryLight: #3b3c3d;
$primaryDark: #000000;
$accentColor: #2f3238;
$accentColor2: #90949C;
$accentColor3: #e2e2e2;
$accentColor4: #a7a6a6;
$accentColor5: #222222;
$accentColor6: #111111;
$accentColor7: #b1b6bf;

$fontFamily1: 'Open Sans', sans-serif;
$fontFamily2: 'Nunito', sans-serif;


